<h1>Login Page</h1>

<form action="/users/login" method="POST">
	<labe>Email: </label>
	<input type="text" name="email"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>